body {
    text-align: center;
    background-color: #cf2e2e;
    background-image: url("../images/hockeybackground.jpg");
}

#question-paragraph{
    padding: 10px;
}

#choices-display{
    padding: 10px;
}
